{% load static %}
<html lang="en">
  <head>
    <title>Biorhythm App</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700display=swap" rel="stylesheet">
  </head>
  <body>
    {% include 'snippets/base_css.html' %} {% include 'snippets/base_js.html' %}
    {% include 'snippets/header.html' %}
    <!-- Body -->
    <style type="text/css">
      body{
        font-family: 'Roboto', sans-serif;
        background-color: #E5E5E5;
        color: #231773;
        font-weight: 400;
      }
      .main {
        min-height: 100vh;
        height: 100%;
      }
    </style>
    <div class="main">{% block content %} {% endblock content %}</div>
    <!-- End Body -->
  </body>
</html>