{% load static %}

<!-- Header -->
<div
  class="d-flex flex-column flex-lg-row p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
>
  <!-- MEDIUM+ SCREENS -->
  <div class="d-none d-md-flex flex-row my-auto flex-grow-1 align-items-center">
    <h5 class="mr-3 font-weight-normal justify-content-start">
      <a class="p-2 text-dark" href="{% url 'home' %}">Home</a>
      <a class="p-2 text-dark" href="{% url 'top3' %}">Top Compatibility</a>
    </h5>
    <div class="d-flex flex-row-reverse flex-grow-1">
        <a class="p-2 text-dark" href="">Login</a>
        <a class="btn btn-outline-primary" href=""
          >Register</a
        >
      </nav>
    </div>
  </div>
  <!-- END MEDIUM+ SCREENS -->

  <!-- SMALL SCREENS -->
  <div class="d-flex d-md-none flex-column my-auto align-items-center">
    <h5 class="font-weight-normal">
      <a class="p-2 text-dark" href="{% url 'home' %}">Home</a>
    </h5>
           <a class="p-2 text-dark" href="">Login</a>
        <a class="btn btn-outline-primary" href=""
          >Register</a
        >
    </div>
  </div>
  <!-- END SMALL SCREENS -->
</div>
