{% extends 'base.html' %}{% load static %}
{% block content %}
<style type="text/css">
    .my-grid {
      border: 1px solid black;
    }
    .my-grid-item {
      border: 1px solid blue;
    }
  </style>
  
  <div>
    <h1 style="text-align: center; margin-top: 5%; margin-bottom: 5%;">Daily Biorhythm Levels</h1>
    <img style="display: block; width: 45%; height: 45%; margin-left: auto; margin-right: auto;" src="data:image/png;base64,{{data}}" alt="BiorhythmChart">
    <div style="text-align: center; margin-top: 5%;">
      <h3>Today's Level</h3>
      {%for level in levels%}
      <p>{{level}}</p>
      {%endfor%}
    </div>
  </div>
  {% endblock content %}