{% extends 'base.html' %}{% load static %} {% block content %}
<style>
  .editdeleteButtons {
    display: flex;
    margin-top: 3%;
    text-align: left;
  }
  .btn.btn--secondary {
    color: #231773;
  }
</style>
<div>
  <h1 style="text-align: center; margin-top: 5%;margin-bottom: 3%; color: #6E30F2; font-weight: 700; font-size: 3vw;">
    Events
  </h1>
<div style="border-radius: 42px; background-color: white; width: 50%; height: auto; margin: auto;box-shadow: 0px 4px 30px #9E97AD; padding: 5%;">
    <br>
    <div class="events">
      {% if not events %}
      <h3 style="text-align: center;"> No events here, chief.</h3>
      {% endif %}
        {% for event in events %}
          <div class = "event">
              <h3>{{event.eventsInfo.title}}. {{event.eventsInfo.date}}</h3>
              <p>User you're most compatible: </p>

          </div>
          <div style="margin-top: 5%; text-align: center; font-size: 1.5vw">
            <p style="display: inline; margin-inline: 25px;">{{event.compat.user.email}}: {{event.compat.compatibility.mean}}%</p>
            {% if event.compat.user not in request.user.friends.all and event.compat.user != request.user %}
              <a href="{% url 'add_friend' event.compat.user.id %}">Add Friend</a>
            {% endif %}
            <div class="editdeleteButtons">
              <form action="{% url 'edit-event' event.eventsInfo.id %}" >
                <button class="btn btn--secondary"> Edit Event</button>
              </form>
              <form action="{% url 'delete-event' event.eventsInfo.id %}">
                <button class="btn btn-outline-danger"> Delete Event</button>
              </form>
            </div>
          </div>
          <br>
        {% endfor %}
        <br>
    </div>
    <br>
  
</div>
</div>
{% endblock content %}