{% extends 'base.html' %}{% load static %} {% block content %}
<style>
  .editdeleteButtons {
    display: flex;
    margin-top: 3%;
    text-align: left;
  }
  .btn.btn--secondary {
    color: #231773;
  }
</style>
<div>
  <h1 style="text-align: center; margin-top: 5%;margin-bottom: 3%; color: #6E30F2; font-weight: 700; font-size: 3vw;">
    Events
  </h1>
<div style="border-radius: 42px; background-color: white; width: 50%; height: auto; margin: auto;box-shadow: 0px 4px 30px #9E97AD; padding: 5%;">
    <br>
    <div class="events">
      {% if not events %}
      <h3 style="text-align: center;"> No events here, chief.</h3>
      {% endif %}
        {% for event in events %}
          <div class = "event">
              <h3>{{event.title}}. {{event.date}}</h3>
              <p>User you're most compatible: </p>

          </div>
          <div style="margin-top: 5%;">
            <ol>
            {% for user_info in resultOfEvent %}
            <li style="text-align: center; font-size: 1.5vw">
              <p style="display: inline; margin-inline: 25px;">{{user_info.user.email}}: {{user_info.compatibility.mean}}%</p>
              {% if user_info.user not in request.user.friends.all and user_info.user != request.user %}
                <a href="{% url 'add_friend' user_info.user.id %}">Add Friend</a>
              {% endif %}
            </li>
            
            {% endfor %}
            <ol>
              <div class="editdeleteButtons">
                <form action="{% url 'edit-event' event.id %}" >
                  <button class="btn btn--secondary"> Edit Event</button>
                </form>
                <form action="{% url 'delete-event' event.id %}">
                  <button class="btn btn-outline-danger"> Delete Event</button>
                </form>
              </div>
          </div>
          <br>
        {% endfor %}
        <br>
    </div>
    <br>
  
</div>
</div>
{% endblock content %}
