{% extends 'base.html' %}{% load static %} {% block content %}
<style type="text/css">
  .my-grid {
    border: 1px solid black;
  }
  .my-grid-item {
    border: 1px solid blue;
  }
</style>
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li>
  {% endfor %}
</ul>
{% endif %}

<div>
  <h1 style="text-align: center; margin-top: 5%;margin-bottom: 3%; color: #6E30F2; font-weight: 700; font-size: 3vw;">
    Top 3 users with the most compatibility
  </h1>
<div style="border-radius: 42px; background-color: white; width: 50%; height: 55%; margin: auto;box-shadow: 0px 4px 30px #9E97AD; padding: 5%;">
  <h3 style="text-align: center; color: #231773; font-weight: 400; font-size: 1.2vw; width: 95%; margin: auto;"> Compatibility is calculated by summing the 3 areas : Physical, Emotional and Intellectual, and then they're averaged.</h3>
  <div style="margin-top: 5%;">
    <ol>
    {% for user_info in top3 %}
    <li style="text-align: center; font-size: 1.5vw">
      <p style="display: inline; margin-inline: 25px;">{{user_info.user.email}}: {{user_info.compatibility.mean}}%</p>
      {% if user_info.user not in request.user.friends.all and user_info.user != request.user %}
        <a href="{% url 'add_friend' user_info.user.id %}">Add Friend</a>
      {% endif %}
    </li>
    {% endfor %}
    <ol>
  </div>
</div>
</div>
{% endblock content %}
