{% extends 'base.html' %}{% load static %} {% block content %}
<style type="text/css">
  .my-grid {
    border: 1px solid black;
  }
  .my-grid-item {
    border: 1px solid blue;
  }
</style>

<div>
  <h1 style="text-align: center; margin-top: 5%; color: #6E30F2; font-weight: 700; font-size: 3vw;">
    Top 3 users with the most compatibility
  </h1>
  <div style="margin-top: 5%;">
    <ol>
    {% for user in top3 %}
    <li style="text-align: center; font-size: 1.5vw">
      {{user.email}}: {{user.compatibility.mean}}%
    </li>
    {% endfor %}
    <ol>
  </div>
</div>
{% endblock content %}
