<html>
<head>
    <title>SignUp</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body style="font-family: Roboto;">
    <div style="width: 450px;  margin: 0 auto; padding: 10px;">
    <h1>Login</h1>

    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Login">
    </form>
    <p>Don't have an account? <a href="/signup">Sign Up</a></p>
    </div>
</body>
</html>